.happy-message {
    color: #006400;
    font-weight: bold;
}

.sad-message {
    color: #FF0000;
    font-weight: bold;
}

.welcome {
    padding-left: 25px;
    padding-right: 25px;
    display:inline-block;
}

.general-body {
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    border: 2px solid #000000;
}